body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  background: #DC2424; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #DC2424 , #4A569D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DC2424 , #4A569D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.cage{
  border:none;

  position:absolute; 
  transition:0.5s;  
}
.cageImg{
  height:200px;
  width:200px;
}

.doggo{
  border:none;
  position:absolute;
}
.change{
  -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
